:root {
    --neon: #00ffcc;
    --oscuro-base: #211e34;
    --oscuro-intermedio: #393658;
    --azul-morado: #505680;
    --azul-claro: #768ab2;
    --rosa-claro: #dd8aa2;
    --texto: #e6f1ff;
    --error: #ff6666;
    --rojo: #ff3333;
    --deshabilitado: #3a3a4f;
  }
  
  body {
    background-color: var(--oscuro-base);
    color: var(--texto);
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: var(--neon);
  }
  
  .box {
    max-width: 500px;
    margin: auto;
    background-color: var(--oscuro-intermedio);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px var(--neon);
  }
  
  input, select, button {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border-radius: 8px;
    border: none;
    font-size: 1em;
  }
  
  input, select {
    background-color: var(--azul-morado);
    color: var(--texto);
  }
  
  button {
    background-color: var(--neon);
    color: var(--oscuro-base);
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: var(--rosa-claro);
    color: var(--oscuro-base);
  }
  
  #qrcode {
    margin-top: 15px;
    padding: 20px;                /* espacio interno */
    background-color: #ffffff;    /* fondo para que se vea bien */
    border-radius: 10px;
    display: inline-block;
  }  
  
  .row {
    display: flex;
    gap: 10px;
  }
  
  .row > * {
    flex: 1;
  }
  
  .hint {
    font-size: 0.9em;
    color: var(--azul-claro);
  }
  